@model GetByIdSellingDto
@{
    ViewData["Title"] = "UpdateSelling";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}



<div class="container  mt-5">
    <h2 class="mb-4">Satış Güncelle</h2>
    <form asp-action="UpdateSelling" method="post">
        <input type="hidden" asp-for="SellingId" />
        <div class="form-group mb-2">
            <label class="control-label">Ürün Adı</label>
            <select id="productSelect" asp-for="ProductId" class="form-control">
                <option value="" data-price="0">Ürün Seçin</option>
                @foreach (var product in (List<SelectListItem>)ViewBag.Products)
                {
                    if (Model.ProductId.ToString() == product.Value)
                    {
                        <option value="@product.Value" data-price="@product.Text.Split('|')[1].Replace(',', '.')" selected>
                            @product.Text.Split('|')[0]
                        </option>
                    }
                    else
                    {
                        <option value="@product.Value" data-price="@product.Text.Split('|')[1].Replace(',', '.')">
                            @product.Text.Split('|')[0]
                        </option>
                    }
                }
            </select>


        </div>
        <div class="form-group mb-2">
            <label class="control-label">Adet</label>
            <input id="countInput" asp-for="Count" class="form-control" type="number" min="1" />
        </div>
        <div class="form-group mb-2">
            <label class="control-label">Toplam Fiyat</label>
            <input id="totalPriceInput" asp-for="TotalPrice" class="form-control" readonly />
        </div>
        <div class="form-group mb-2">
            <label class="control-label">Tarih</label>
            <input asp-for="SellingDate" type="date" class="form-control" />
        </div>
        <button type="submit" class="btn btn-warning">Güncelle</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const productSelect = document.getElementById("productSelect");
        const countInput = document.getElementById("countInput");
        const totalPriceInput = document.getElementById("totalPriceInput");


        function calculateTotalPrice() {
            const selectedOption = productSelect.options[productSelect.selectedIndex];
            const price = parseFloat(selectedOption.getAttribute("data-price").replace(",", ".")) || 0; 
            const count = parseInt(countInput.value) || 0; // Adet
            const total = price * count;

            totalPriceInput.value = total.toLocaleString("tr-TR", { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }

        window.onload = () => calculateTotalPrice();

        productSelect.addEventListener("change", calculateTotalPrice); 
        countInput.addEventListener("input", calculateTotalPrice);   
    });
</script>



